body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #9eb6c0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    height: 100vh;
    background: url('images/bg_main_kermit.jpg') center no-repeat;
    background-size: cover;
}


.header__inner {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    z-index: 2;
}


.header__fio {
    margin-bottom: 20px; 
    text-align: center;   
    font-size: 36px;
    color: #fff;
}


.header__subtext {
    text-align: center;   
}


.header__subtext:after {
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    margin: 20px auto 0;
    background-color: #fff;
}


.nav {
    margin-top: 55px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.nav__link {
    display: inline;
    vertical-align: top;
    margin: 0 15px;
    text-decoration: none;
    transition: color .2s linear;
    color: #fff;
    font-size: 18px;
}

.nav__link:hover {
    color: #71d642;
}


.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #71d642;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.nav__link:hover:after {
    opacity: 1;
}

.info {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    font-size: 24px;
    z-index: 2;
}

.info__link {
    text-decoration: none;
    transition: color .2s linear;
    color: #fff;
}

.info__link:hover {
    color: #71d642;
}


/* Section */

.section {
    padding: 35px 25px;
    background-color: forestgreen;
    height: 100vh;
}

.section--even {
    background-color: #575757;
}



.section__title {
    margin-bottom: 20px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.title_links {
    margin-bottom: 45px;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}

.git__link {
    display: list-item;
    vertical-align: top;
    margin: 15px 15px;
    text-decoration: none;
    transition: color .2s linear;
    color: #fff;
    font-size: 18px;
}

.git__link:hover {
    color: #71d642;
}




.git__link:hover:after {
    opacity: 1;
}

.section_subtitle {
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.diagramm {
    display: flex;
    justify-content: center;
}

.diagramm img {
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.diagramm:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}


/* Button UP */

#button-up {
    display:none;
    left: 30px;
    margin: 0;
    position: fixed;
    bottom: 50px;
    outline:none;
    width: 52px;
    line-height: 50px;
    padding: 0px 0 0 45px;
    cursor:pointer;
    background: url("images/arrow.png") no-repeat;
    background-size: 50px;
}


/* Footer */

.footer {
    padding: 40px 0;
    height: 100px;
    background-color: black;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Calculator */

.calculator__group {
    display: flex;
    padding-left: 50px;
}

.calculator__uml img {
    padding-top: 18px;
    transform: scale(0.9);
    transition: .3s ease-in-out;
}

.calculator__uml:hover img {
    transform: scale(1);
}

.calculator__info p {
    text-align: center;
    color: #fff;
}

#section_1 {
    background: url('images/kermit_labs_1.jpg') center no-repeat;
    background-size: 100% 100vh;
}

#section_2 {
    background: url('images/kermit_labs_2.jpg') center no-repeat;
    background-size: 100% 100vh;
}

#section_3 {
    background: url("images/kermit_labs_3.jpg") no-repeat;
    background-size: 100% 100vh;
}

#section_4 {
    background: url("images/kermit_last.gif") no-repeat;
    background-size: 100% 100vh;
}


.calculator {
    position: absolute;
    right: 150px;
    width: 250px;
    height: 320px;
    border: 2px solid black;
    margin: 30px auto 0;
    text-align: center;
    background: rgb(245,246,23);
    background: linear-gradient(0deg, rgba(245,246,23,1) 39%, rgba(44,139,199,1) 67%);
    
    /*background: url("images/shrek.png") no-repeat;*/
    background-size: 250px 320px;
    box-shadow: 0 0 30px grey;
    border-radius: 4px;    
}

.calculator__form {
    height: 100%;
    padding: 20px;    
}

.calculator__row {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.calculator__display {
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid darkslateblue;
    padding: 4px 2px;
    text-align: right;
    font: 700 16px/1 Arial, sans-serif;
    color: darkslateblue;
    background-color: whitesmoke;
}

.calculator__key {
    width: 41px;
    height: 35px;
    cursor: pointer;
    border: none;
    transition: all .2s;
    text-transform: uppercase;
    background: white;
}

.calculator__key--equal {
    width: 98px;
}

.calculator__key:hover {
    /*background-color: yellow;*/
    background: url("images/shrek_button.png") no-repeat;
    background-size: cover;
    font-weight: 700;
}

.calculator__key::-moz-focus-inner {
    border: none
}











